<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- CLI -->
    <package id="git" />
    <package id="gh" />
    <package id="wsl2" />
    <package id="powershell-core" />
    <package id="terminal-icons.powershell" installArguments="/core" />
    <!-- <package id="oh-my-posh" /> -->
    <package id="starship" />
    <!-- Utilities -->
    <package id="flameshot" />
    <package id="yt-dlp" />
    <package id="ffmpeg" />
    <package id="imagemagick" />
    <package id="vlc" />
    <package id="winrar" />
    <package id="rufus" />
    <package id="qbittorrent" />
    <package id="microsoft-windows-terminal" />
    <package id="putty" />
    <!-- Applications -->
    <package id="discord" />
    <package id="brave" />
    <package id="spotify" />
    <package id="vscode" />
</packages>
