<?xml version="1.0" encoding="utf-8"?>
<packages>
        # CLI
    <package id="git" />
    <package id="gh" />
        # Utilities
    <package id="flameshot" />
    <package id="yt-dlp" />
    <package id="vlc" />
    <package id="winrar" />
    <package id="rufus" />
    <package id="qbittorrent" />
    <package id="microsoft-windows-terminal" />
    <package id="putty" />
        # Applications
    <package id="discord" />
    <package id="brave" />
    <package id="spotify" />
    <package id="vscode" />
</packages>